/*contact us page */
.bodycon{
    padding:0;
    margin:0;
}

.navbar {
    background: rgb(66, 6, 122);
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease;
}
  
.logo-nav h1{
    font-family: "Inter", serif;
    font-weight: 900;
    font-style: italic;
    color: white;
    font-size: 30px;
}
  
.logo-nav:hover {
    transform: scale(1.05);
}
  
.nav-links {
    display: flex;
    gap: 1rem;
}
  
.btn {
    color: var(--light);
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
}
  
.btn:hover {
    background: var(--primary);
    color: white;
    transform: translateY(-2px);
}

/*navbar*/

.slogan-contact {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.contactus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: slategrey;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.select-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}