/* Global reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* Body styling */
  body {
    height: 100vh;
    background-image: url('../image/background.jpg'); /* Add the image URL here */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; 
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  .wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: rgba(255, 255, 255, 0.65); 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(69, 220, 236, 0.25);
  }

/* Container for the wheel and button */
.container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Wheel canvas styling */
  #wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
  }

    /* Spin button styling */
    #spin-btn {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 26%;
        width: 26%;
        border-radius: 50%;
        cursor: pointer;
        border: 0;
        background: radial-gradient(#e96c6c 10%, #d84040 85%);
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.8em;
        letter-spacing: 0.1em;
        font-weight: 600;
        transition: background 0.3s ease;
      }
      
      #spin-btn:hover {
        background: radial-gradient(#e96c6c 5%, #e90808 95%);
      }
    
        /* Arrow image positioning */
  img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
  }
  
  /* Final value display styling */
  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: .5em;
    color: #202020;
    font-weight: 500;
  }

  /* For smaller screens */
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img {
      right: -5%;
    }
  }
